.card {
  margin-bottom: 30px;
  padding-top: 30px;
}

.card__list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.card__image {
  display: block;
}

.card__image-link {
  display: block;
  text-decoration: none;
}

.card__wrapper {
  padding: 30px 28px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 7px;
}

.card__title-link {

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.card__description {
  margin: 0 0 20px;
  font-size: 13px;
  line-height: 30px;
}

.card__price {
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}
