.categories {
  background-color: @bg-1;
}

.categories__list {
  .reset-list();
}

.categories__item {
  width: 100%;

  &--interior {
    background-color: #63d1bb;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.categories__link {
  display: block;
  padding: 30px 30px 30px;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;

  text-decoration: none;
}

.categories__name {
  display: inline-block;
  width: 110px;
  vertical-align: middle;
}

@media (min-width: @tablet-width) {
  .categories {
    .container-middle();
  }

  .categories__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .categories__item {
    width: 50%;
  }
}

@media (min-width: @desktop-width) {
  .categories {
    .container-max();
  }
}
