.contacts {
  position: relative;
  padding-top: 30px;
  padding-bottom: 40px;
}

.contacts__wrapper {
  .container-min();
}

.contacts__title {

  margin-bottom: 35px;

  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.contacts__info {
  display: flex;
  flex-direction: column;

  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;

  &--email,
  &--address {
    display: flex;
    max-width: 320px;
    margin-bottom: 35px;
  }
}

.contacts__parameter,
.contacts__value {
  box-sizing: border-box;
}

.contacts__parameter {
  width: 50px;
  margin-right: 30px;
}

.contacts__value {
  max-width: 230px;
  margin-left: 0;
}

.contacts__value-address {
  margin: 0;
}

.contacts__wrapper-image {
  text-align: center;
}

.contacts__write-wrapper {
  .container-min();
  margin-top: 40px;
}


@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 80px;
    padding-bottom: 130px;
  }

  .contacts__wrapper {
    .container-middle();
  }

  .contacts__title {
    margin-bottom: 35px;

    .tablet-title();
  }

  .contacts__info {
    display: flex;
    flex-direction: row;
    font-size: 17px;

    &--email,
    &--address {
      display: flex;
      max-width: 320px;
      margin-bottom: 35px;
      margin-right: 50px;
    }
  }

  .contacts__parameter {
    width: 55px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    padding-top: 140px;
    padding-bottom: 105px;
  }

  .contacts__wrapper {
    .container-max();
    .container2();
  }

  .contacts__title {
    margin-bottom: 35px;

    .desktop-title();
  }

  .contacts__info {
    display: flex;
    flex-direction: column;
  }

  .contacts__map {
    position: absolute;
    top: -50px;
    right: 50px;
  }
}
