.contacts {
  margin-bottom: 40px;
}

.contacts__title {
  padding: 0 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
}

.contacts__address {
  margin: 0 30px;
}

.contacts__parameter,
.contacts__value {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 30px;
}

.contacts__parameter {
  max-width: 48px;
}

.contacts__value {
  margin-left: 30px;
}

.contacts__value-address {
  margin: 0;

}

.contacts__write {

      margin: 40px 30px 0 30px;
}
