.copyright__link {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.copyright__text {
  align-self: center;
  padding-right: 30px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.copyright svg {
    width: 27px;
    height: 35px;
    fill: #63d1bb;
}
