.features {
  .container-min();
  padding-top: 27px;
}

.features__title {
  .mobil-title();
  margin: 0;
  margin-bottom: 33px;
}

.features__list {
  .reset-list();

  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
}

.features__item {
  position: relative;
  padding-top: 53px;
  padding-bottom: 30px;

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 40px;
    top: 0;
    left: -3px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  &--1::before {
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 13px -1px;
  }

  &--2::before {
    background-image: url("../img/icon-feature-money.svg");
    background-position: 5px 0;
  }

  &--3::before {
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 12px 5px;
  }

  &--4::before {
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 8px 1px;
  }

  &--5::before {
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: -1px 3px;
  }

  &--6::before {
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 6px 0;
  }
}


.features__describe {
  width: 255px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .features {
    .container-middle();
    padding-top: 51px;
    padding-bottom: 22px;
  }

  .features__title {
    .tablet-title();
    margin-bottom: 49px;
  }

  .features__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }

  .features__item {
    width: 50%;
    padding-bottom: 59px;
  }

  .features__describe {
    width: 295px;
  }

  .features__item--1 {
    order: 1;
  }

  .features__item--2 {
    order: 3;
  }

  .features__item--3 {
    order: 5;
  }

  .features__item--4 {
    order: 2;
  }

  .features__item--5 {
    order: 4;
  }

  .features__item--6 {
    order: 6;
  }
}

@media (min-width: @desktop-width) {
  .features {
    .container-max();
    padding-top: 58px;
    padding-bottom: 29px;
  }

  .features__wrapper {
    .container2();
  }

  .features__title {
    margin-bottom: 49px;
    .desktop-title();
  }

  .features__list {
    justify-content: flex-start;
    width: 740px;
  }

  .features__item {
    width: 250px;
    padding-bottom: 59px;
    margin-right: 100px;
  }
}
