.main-nav {
  width: auto;
  margin: 0 auto;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.main-nav__logo-link {
  display: block;
  width: 86px;
  padding-top: 20px;
  padding-bottom: 16px;
  margin: 0 auto;
}

.main-nav__logo-link img {
  width: 86px;
  height: 36px;
}

.main-nav__toggle {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  top: 21px;
  right: 25px;
  display: block;
  background-color: #ffffff;
  border: none;
}


.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 10px;
  right: 5px;

  width: 20px;
  height: 2px;

  background-color: #000000;
  box-shadow: 0 6px 0 0 #000000, 0 12px 0 0 #000000;
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 1px;

    width: 27px;
    height: 2px;

    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  display: none;
  width: auto;
  .reset-list();
  margin-right: auto;
  margin-left: auto;

  &--hot {
    display: none;
  }
}

.main-nav__item {
  border-top: 1px solid #ececec;
 }



.main-nav__link {
  display: block;
  width: 260px;
  margin: 0 auto;
  padding: 27px 20px 27px 45px;
  color: #000000;
  text-decoration: none;
  box-sizing: border-box;
}

.main-nav__link-wrapper {
  position: relative;
  max-width: 260px;
  margin: 0 auto;
}


.main-nav__link > svg {
  position: absolute;
  width: 21px;
  height: 19px;
  top: 30px;
  left: 0;
}

.main-nav__delivery {
  display: none;
}


@media (min-width: @tablet-width) {
  .main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__logo-link {
    width: 113px;
    margin-left: 0;

  }

  .main-nav__wrapper {
    width: 348px;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    &--site {
      position: absolute;
      margin: 0;
      max-width: 40%;
      top: 106px;
      left: 50px;
      width: 320px;
      font-size: 15px;
      z-index: 1;
    }

    &--user {
      width: 348px;
      font-size: 17px;
    }

    &--hot {
      display: none;
    }
  }

  .main-nav__item {
    border-top: none;
    box-sizing: border-box;


    &--site:nth-child(odd) {
      margin-right: auto;
    }

    &--search {
      width: 84px;
      border-left: 1px solid #ececec;
    }

    &--basket {
      width: 264px;
      text-align: end;
      border-left: 1px solid #ececec;
    }
  }

  .main-nav__link {
    padding: 0;

    &--site {
      width: 140px;
    }

    &--search {
      width: 84px;
      min-height: 88px;
    }

    &--basket {
      padding: 31px 0 33px 50px;
    }
  }

  .main-nav__link > svg {
    position: absolute;
    top: 33px;
    left: 29px;
  }

  .main-nav__icon--search {
    display: none;
  }


  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    position: absolute;
    display: block;
    margin: 0;
    flex-wrap: wrap;
    max-width: 40%;
    top: 106px;
    right: 50px;
    font-size: 15px;
    line-height: 24px;
    z-index: 1;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1050px;
  }

  .main-nav__logo-link {
    width: 149px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .main-nav__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main-nav__list {
    font-size: 17px;
    margin: 0;

    &--site {
      position: static;
      width: 420px;
    }

    &--user {
    }

    &--hot {
      position: absolute;
      flex-wrap: wrap;
      max-width: 40%;
      top: 106px;
      left: 50px;
      display: flex;
      width: auto;
      font-size: 15px;
      z-index: 1;
    }
  }

  .main-nav__link {
    &--site {
      width: 185px;
      padding: 30px 0;
    }

    &--hot {
      width: 165px;
    }
  }

  .main-nav__item {
    &--site {
    }

     &--site:nth-child(odd) {
      margin-right: 36px;
      border-right: 1px solid #ececec;
    }

    &--hot {
      margin-right: 55px;
    }
  }
}
