.main-nav {
  width: 320px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

.main-nav__logo-link {
  display: block;
  width: 86px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
}


.main-nav__toggle {
  position: absolute;
  width: 30px;
  height: 25px;
  top: 30px;
  right: 30px;
}

.main-nav__list {
  width: 260px;
  .reset-list();
  margin-right: auto;
  margin-left: auto;

  &--hot {
    display: none;
  }
}

.main-nav__item {
  position: relative;
}

.main-nav__link {
  display: block;
  padding: 30px 20px 30px 45px;
  color: #000000;
  text-decoration: none;
}

.main-nav__link > svg {
  position: absolute;
  top: 30px;
  left: 0;
}

.main-nav__delivery {
  display: none;
}


@media (min-width: @tablet-width) {
  .main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .main-nav__logo-link {
    width: 120px;
    margin-left: 0;
    order: 1;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;

    &--site {
      position: absolute;
      margin: 0;
      bottom: -32px;
      left: 50px;
      width: 320px;
      font-size: 15px;
    }

    &--user {
      justify-content: flex-end;
      order: 2;
      width: 348px;
      margin-right: 0;
      font-size: 17px;
    }

    &--hot {
      display: none;
    }
  }

  .main-nav__item {
    &--site {
      margin-right: 20px;
    }
  }

  .main-nav__link {
    padding: 0;

    &--search {
      width: 84px;
      padding: 30px 0;
    }

    &--basket {
      padding: 30px 0 30px 45px;
    }
  }

  .main-nav__icon--search {
    display: none;
  }


  .main-nav__toggle {
    display: none;
  }

  .main-nav__delivery {
    position: absolute;
    display: block;
    margin: 0;
    bottom: -32px;
    right: 50px;
    font-size: 15px;
    line-height: 24px;
  }
}


@media (min-width: @desktop-width) {
  .main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__logo-link {
    width: 149px;
    order: 2;
  }

  .main-nav__list {
    font-size: 17px;
    width: 420px;

    &--site {

      order: 1;
      margin-bottom: 0;
    }

    &--user {
      order: 3;
    }

    &--hot {
      display: flex;
      width: 350px;
      order: 4;
      margin-bottom: -42px;
      font-size: 15px;
    }
  }
}
