.production {
 padding-top: 30px;
}

.production__title {
  margin: 0 0 30px;
  padding-left: 90px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
}

.production-wrapper {
  padding: 30px;
}

.production__text {
  margin-top: 0;
  padding-right: 10px;
  margin-bottom: 30px;

  font-size: 13px;
  line-height: 24px;
}
