.production {
  margin-bottom: 58px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  }
}

.production__img {
  display: block;
  width: 260px;
  height: 150px;
}

.production__title {
  position: relative;

  padding: 24px 25px 25px 90px;
  margin: 0;
  .mobil-card();
  border: 1px solid #ececec;
  box-sizing: border-box;

  &--mobil::before {
    content: "";
    position: absolute;
    top: 29px;
    left: 34px;
    width: 32px;
    height: 32px;
    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.production__video-player {
  position: relative;
  margin: 0;
  padding: 0;
}

.production__play-button {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 102px;
  height: 78px;
  z-index: 1;
  border: none;
  background-color: transparent;
  background-image: url("../../img/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.3;
  }
}


.production__wrapper {
  padding: 23px 35px 32px;
  border: 1px solid #ececec;
  box-sizing: border-box;
}

.production__text {
  margin: 0;
  margin-bottom: 25px;

  font-size: 13px;
  line-height: 24px;
}

.production__order {
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .production {
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
  }

  .production__video-player {
    order: -1;
    min-height: 455px;
  }

  .production__img {
    width: 100%;
    height: auto;
  }

  .production__title {
    padding: 37px 40px 31px 105px;
    border-bottom: none;

    font-size: 20px;

    &--mobil::before {
      top: 32px;
      left: 40px;
    }
  }

  .production__wrapper {
    padding: 0 40px 45px 40px;
    border-top: none;
  }

  .production__text {
    margin-bottom: 36px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__order {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .production {
    position: relative;
    align-items: flex-end;
    padding-bottom: 0;
    margin-bottom: 105px;
  }

  .production__video-player {
    position: absolute;
    top: 0;
    left: 0;
  }

  .production__img {
    width: 682px;
    height: 455px;
  }

  .production__title {
    width: 368px;
    margin: 0;
    padding: 96px 60px 0 78px;
    margin-bottom: 34px;

    box-sizing: border-box;

    &--mobil::before {
      top: 42px;
      left: 80px;
    }
  }

  .production__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 368px;
    padding: 0 40px 59px 78px;
    box-sizing: border-box;
  }

  .production__text {
    width: 233px;
    margin-top: 0;
    margin-bottom: 45px;

    font-size: 15px;
    line-height: 30px;
  }

  .production__order {
    width: 230px;
    margin: 0;
  }
}
