.reviews {
   position: relative;
  .container-min();
  padding-top: 25px;
  padding-bottom: 52px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 23px;
  .mobil-title();
}

.reviews__item {
  margin: 0;
  padding-bottom: 30px;
}

.reviews__text {
  margin: 0 0 28px;
  font-size: 15px;
  line-height: 30px;

}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  font-style: normal;
}


.reviews__nickname {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
  font-weight: 400;
}

.reviews__nickname {
    display: inline-block;
    vertical-align: bottom;
    margin-top: 2px;
  }

.reviews__toggle {
  display: flex;
  width: 100%;
  margin-bottom: 38px;
}

.reviews__arrow {
  flex-grow: 1;
  height: 51px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ececec;

  &--prev {
    background-image: url(../../img/icon-left-arrow.svg);
  }

  &--next {
    background-image: url(../../img/icon-right-arrow.svg);
  }
}

@media (min-width: @tablet-width) {
  .reviews {
   position: relative;
   .container-middle();
    padding-top: 80px;
    margin-bottom: 70px;
    height: 457px;
    background-image: url(../../img/review@1x.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__item {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .reviews__title {
    .tablet-title();
    margin-bottom: 0;
    order: 1;
  }

  .reviews__write {
    min-width: 175px;
    order: 2;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__text {
    width: 100%;
    padding-right: 20px;
    padding-top: 25px;
    margin-bottom: 58px;

    font-size: 17px;

    box-sizing: border-box;
  }

  .reviews__toggle {
    position: absolute;
    width: 175px;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }

  .reviews__arrow {
    background-position: center 10px;
    border: none;
  }

  .reviews__author-name {
    font-size: 18px;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    .container-max();
    padding-top: 70px;
    margin-bottom: 64px;
    background-position: 50px 0;
  }

  .reviews__wrapper {
    .container2();
    position: relative;
  }

  .reviews__title {
    .desktop-title();
    order: 1;
  }

  .reviews__write {
    min-width: 175px;
    order: 2;
    margin-top: 10px;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__text {
    padding-right: 90px;
    margin-bottom: 38px;

    font-size: 17px;

    box-sizing: border-box;
  }

  .reviews__toggle {
    position: absolute;
    width: 175px;
    bottom: 0;
    right: 0;
  }
}
