.reviews {
  .container-min();
  padding-top: 30px;
  padding-bottom: 40px;
}

.reviews__title {
  margin: 0;
  .mobil-title();
}

.reviews__item {
  margin: 0;
  padding-bottom: 30px;
}

.reviews__text {
  margin: 0 0 35px;
  font-size: 15px;
  line-height: 30px;
}

.reviews__author-name {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  font-style: normal;
}


.reviews__nickname {
  font-size: 17px;
  line-height: 30px;
  color: #444444;
  font-style: normal;
  font-weight: 400;
}

.reviews__toggle {
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}

.reviews__next,
.reviews__prev {
  flex-grow: 1;
  height: 50px;
  background-color: transparent;
  border: 1px solid #ececec;
}

@media (min-width: @tablet-width) {
  .reviews {
    .container-middle();
    padding-top: 80px;
    padding-bottom: 130px;
  }

  .reviews__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .reviews__title {
    .tablet-title();
    order: 1;
  }

  .reviews__write {
    min-width: 175px;
    order: 2;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__text {
    width: 100%;
    padding-right: 30px;
    padding-top: 50px;
    margin-bottom: 60px;

    font-size: 17px;

    box-sizing: border-box;
  }

  .reviews__toggle {
    position: absolute;
    width: 175px;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .reviews {
    .container-max();
    padding-top: 80px;
    padding-bottom: 130px;
  }

  .reviews__wrapper {
    .container2();
    position: relative;
  }

  .reviews__title {
    .tablet-title();
    order: 1;
  }

  .reviews__write {
    min-width: 175px;
    order: 2;
  }

  .reviews__list {
    order: 3;
  }

  .reviews__text {
    width: 100%;
    padding-right: 30px;
    padding-top: 50px;
    margin-bottom: 60px;

    font-size: 17px;

    box-sizing: border-box;
  }

  .reviews__toggle {
    position: absolute;
    width: 175px;
    bottom: 0;
    right: 0;
  }
}
